body {
    background-color: #fcf5f9;
}

#divnovaconta {
    margin-top: 4%;
    float: right;
    margin-right: 20%;
}

.imgforms {
    float: left;
    margin-top: 8%;
    margin-left: 15%;
}

.form-control {
    width: 400px;
}

h1 {
    font-family: cabinet;
}

h4 {
    font-family: garamont;
}

.btnmostrar {
    border-color: transparent;
}

#novalista {
    text-decoration: none;
    color: black;
}

#linha {
    margin-top: 8%;

}

#teste {
    margin-top: 3%;
    float: right;
    margin-right: 65%;
}

#btnmodalitem {
    margin-top: 0.5%;
    float: right;
    margin-right: 66.5%;
}

#divitens {
    margin-top: 4%;
    float: right;
    margin-right: 20%;
}


